button {
  padding: var(--spacing-sm) var(--spacing-lg);
  background: var(--button-bg);
  border: none;
  color: var(--button-color);
  border-radius: var(--button-radius);
  cursor: pointer;
  user-select: none;
  font-size: var(--text-md);
}

button:hover {
  background: var(--button-bg-hover);
}

button:active {
  background: var(--button-bg-active);
}
